<!DOCTYPE html>
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="mdl"><span class="glyphicon glyphicon-lock"></span>Unlock Payment</h4>
          <h5>{ paymentname }</h5>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
            <p>{ message }</p>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>
                      