<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Oops something went wrong</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron">
                <img src="/assets/global/img/OVERTIME-APP-LOGO.png">
                <h1>Oops...</h1>
                <p>{ message }</p>
                <p>Let us know what happened and we'll get to work fixing it right away</p>
                
            </div>
        </div>
    </body>
</html>
