<!DOCTYPE html>
<html>
    <head>
        { head }

        <script type="text/javascript">
            var offcrcount = 0;
            var offcrarr = [];
            var CreatedutySheet = false;
            var GEventId = "";

            $(document).ready(function () {
                $('#submitpaymenttable').hide();
                var PreAccountTotal = 0;
                var selectedkey;

                var preaccountOS = 0;
                var preaccountPS = 0;
                var preaccountVAT = 0;

                var ResourceTotal = 0;
                var OperationalSupportTotal = 0;
                var accountcount = 0;
                var accountarr = [];
                var acctid;
                var dailyRate;


                $('.search-boxcomp input[type="text"]').on("keyup input", function () {
                    /* Get input value on change */
                    var inputVal = $(this).val();
                    var resultDropdown = $(this).siblings(".resultcomp");
                    var isnum = /[0-9]/;
                    var isalpha = /[a-zA-Z]/;
                    if (inputVal.length) {
                        if (isalpha.test(inputVal))
                        {
                            $.get("/Views/Shared/Controls/CompanySearch/backend-search.php?type=" + "name", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        } else
                        if (isnum.test(inputVal))
                        {
                            $.get("/Views/Shared/Controls/CompanySearch/backend-search.php?type=" + "companyid", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        }

                    } else {
                        resultDropdown.empty();
                    }
                });

                // Set search input value on click of result item
                $(document).on("click", ".resultcomp p", function () {
                    $(this).parents(".search-boxcomp").find('input[type="text"]').val($(this).text());
                    $test = document.getElementById('searchcomp').value;
                    $type = 'REF';
                    if ($test == "") {
                                document.getElementById("txtHintcomp").innerHTML = "";
                                return;
                        } else {
                                if (window.XMLHttpRequest) {
                                        // code for IE7+, Firefox, Chrome, Opera, Safari
                                        xmlhttp = new XMLHttpRequest();
                                } else {
                                        // code for IE6, IE5
                                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                }
                                xmlhttp.onreadystatechange = function () {
                                        if (this.readyState == 4 && this.status == 200) {
                                                document.getElementById("txtHintcomp").innerHTML = this.responseText;
                                $("#submittercompany").text($("#CompanyId").val());
                                //$("#submitterprevbalance").text($("#PreviousBalance").val());
                                $("#submitterbalance").text($("#CompanyBalance").val());
                                        }
                                };
                                xmlhttp.open("GET", "../Views/Shared/Controls/DutySheetSearch/getdutysheets.php?q=" + $test, true);
                                xmlhttp.send();
                        }
                    $(this).parent(".result").empty();

                    //alert('test');
                });

                $("#btnCreateEvent").click(function (e) {
//need to add validation that all fields are there 
                    $("#hdnEventCost").val(PreAccountTotal.toFixed(2));
                    $("#hdnOperationalSupport").val(preaccountOS.toFixed(2));
                    $("#hdnPoliceServices").val(preaccountPS.toFixed(2));
                    $("#hdnVATPoliceServices").val(preaccountVAT.toFixed(2));

                    var divid = document.getElementById("lblEventRef").innerHTML;
                    $('#hdnDivisionId').val(divid.substring(0, 4));
                    $('#EventId').val(divid);
                    $('#hdnAsset').val(JSON.stringify(accountarr));

                });

                $(document).on("click", ".edit", function (e) {
                    $.get("/Views/Shared/Controls/ComboSearch/dutysheet-modal.php?id=" + e.target.id).done(function (data) {
                        $("#myModal").html(data).modal();

                    });
                });
                $(document).on("click", ".pillwrapper li", function () {
//                    alert('hello');
                    var key = $(this).attr("class");
//
                    var DutysheetId = $("." + key).find('#liDutySheetId').text();
                    selectedkey = DutysheetId;
//                    var EventName = $("." + key).find('#liEventName').text();
//                    var EventCost = $("." + key).find('#liEventCost').text();
//                    var OpSupport = $("." + key).find('#liOperationalSupport').text();
//                    var PoliceServ = $("." + key).find('#liPoliceServices').text();
//
//                    var EventDateStart = $("." + key).find('#liEventDateStart').text();
//                    var EventDateEnd = $("." + key).find('#liEventDateEnd').text();
//
//
//                    var Station = $("." + key).find('#liStation').text();
//                    var Division = $("." + key).find('#liDivision').text();
//                    var CompanyId = $("." + key).find('#liCompanyId').text();
//
//                    var CompanyName = document.getElementById("compName").innerHTML;
//
////                    document.getElementById("Division").value = Division;
////                    document.getElementById("Station").value = Station;
////                    document.getElementById("EventName").value = EventName;
////
////                    document.getElementById("EventDateStart").value = EventDateStart;
////                    document.getElementById("EventDateEnd").value = EventDateEnd;
                    document.getElementById("lblEventRef").innerHTML = DutysheetId;
////                    document.getElementById("CompanyId").value = CompanyId;
////                    document.getElementById("CompanyName").value = CompanyName;
//                    //document.getElementById("eventcost").innerhtml = EventCost;
//                    //$("#eventcost").text(EventCost);
//                    //$("#opsupporttotal").text(OpSupport);
//                    //$("#policeservicestotal").text(PoliceServ);
                    $('#submitpaymenttable').show();
                });

                $(document).on("click", "#submitpaymenttable", function () {
                    paymentTable();
                });

                $(document).on("click", ".edit", function (e) {
                    $.get("/Views/Shared/Controls/ComboSearch/payment-modal.php?id=" + e.target.id).done(function (data) {
                        $("#myModal").html(data).modal();

                    });
                });

                function paymentTable() {

                    var resultDiv = $('#paymenttable');

                    var payload = {};

                    payload['dutysheetid'] = selectedkey;
                    $.get("/dutysheettablepymt?", payload).done(function (data) {
                        resultDiv.html(data);
                    });
//                    $.get("/dutysheettablepymt?", payload).done(function (data) {
//                        resultDiv.html(data);
//                    });
                }

            });

        </script>         
    </head>
    <body>
        <div class="wrapper">
            <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <a class="page-logo" id="index" href="/index.php">
                                <img src="../assets/global/img/customs logo no back.png" alt="" height="400"/>                          
                                <img src="../assets/global/img/OVERTIME-APP-LOGO.png" alt=""/>
                            </a>
                            <div class="topbar-actions">
                                <div class="btn-group-img btn-group">
                                    <button class="btn btn-sm md-skip dropdown-toggle" type="button" data-toggle="dropdown" data-close-others="true" data-hover="dropdown">
                                        <span>Hi,<?php echo $_SESSION['firstname']; ?></span>
                                    </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                        <li>
                                            <a href="/changepassword">
                                                <i class="icon-user"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                <i class="icon-key"></i> Log Out 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="icon-briefcase"></i> <?php echo $_SESSION['user_roles']; ?>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                        
                        </div>                       
                        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse"  >
                            <ul class="nav navbar-nav" >
                                <li class="dropdown dropdown-fw dropdown-fw-disabled active open selected">
                                    <a class="text-uppercase" href="/index.php">
                                        <i class="icon-home"></i> Home 
                                    </a>      
                                </li>
                                <li>
                                    <a class="text-uppercase" href="/createdutysheet"><i class="glyphicon glyphicon-pencil"></i>Create Duty Sheet</a>
                                </li>
                            </ul>
                        </div>                      
                    </div>                
                </nav>
            </header>
            <div class="container-fluid">
                <div class="page-content">
                    <div class="page-content-row">
                        <div class="col-md-3">
                            <div class="page-sidebar">

                                <div class="col-xs-12">
                                    <a class="dashboard-stat dashboard-stat-v2 blue" href="/event/create">
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-value="2" id="submittercompany" style="font-size: xx-large"  data-counter="counterup" class="glyphicon glyphicon-briefcase"></span>
                                            </div>
                                            <div class="desc"> Create Event </div>
                                        </div>
                                    </a>
                                </div>

                                <center>
                                    <a class="btn btn-outline blue" href="../../index.php">back to main page</a>    
                                </center>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="page-content-col-8">
                                <div class="panel panel-info" >
                                    <div class="panel-heading">
                                        <center>
                                            <h3><label id="lblEventRef" class="label label-info"></label></h3>
                                        </center>
                                    </div>
                                    <div class="portlet box blue">
                                        <div class="portlet-title">
                                            <div class="caption"><em class="fa fa-group"></em><h4>Edit Duty Sheet</h4></div>
                                        </div>
                                        <div class="portlet-body form">
                                            <form  method="post"  action="" id="#" > 
                                                <div class="container-fluid">
                                                    <div class="row center-block">
                                                        <div class="col-md-2" ></div>
                                                        <div class="col-md-8" >
                                                            <?php
                                                            include 'Views/Shared/Controls/CompanySearch/search-form.php';
                                                            ?>                                                            
                                                        </div>

                                                        <div class="col-md-2" >

                                                        </div>
                                                        <div class="col-xs-12 row text-center">
                                                            <div id="submitpaymenttable" class="btn btn-info btn-md">Show Results</div>
                                                        </div>
                                                        <div class="col-xs-12 row">
                                                            <div class="table-responsive">
                                                                <table class="table" id="paymenttable">

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3" >



                                                    </div>
                                                </div>  
                                                <br>

                                                <br>
                                            </form> 
                                            <div class="modal fade" id="myModal" role="dialog"></div>
                                            <div class="modal fade" id="myModalAmend" role="dialog"></div>
                                            <div class="modal" id="officermodal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Select Police Service Resource</h4>

                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body">                                                                                                               
                                                            <label><strong>Select Officer Rank</strong></label>
                                                            <select name="Rank" class="form-control" id="Rank" style="width:auto" >
                                                                <option>Select Rank</option>
                                                                { RoleRates }
                                                            </select>
                                                            <label><strong>Resource Count</strong></label>
                                                            <input type="number"  class="form-control" id="ResourceCount" name="ResourceCount" min="1" value="1" required  >     

                                                            <label><strong>Hours</strong></label>
                                                            <input type="number"  class="form-control" id="RSHoursCount" name="RSHoursCount" min="1" value="1" required  >     

                                                        </div>
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <label id="ResourceAmount" >0</label>
                                                            <button type="button" class="btn btn-info" id="AddResource" data-enter="modal">Add Resources</button>
                                                        </div>                                            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal" id="supportmodal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Select Operational Support Resource</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body">

                                                            <label><strong>Select Equipment</strong></label>
                                                            <select name="Equipment" class="form-control" id="Equipment" style="width:auto" >
                                                                <option>Select Equipment</option>
                                                                { Equipment }
                                                            </select>

                                                            <label id="lblRSCount"><strong>Resource Count</strong></label>
                                                            <input type="number"  class="form-control" id="OPResourceCount" name="OPResourceCount" min="1" value="1" required  > 

                                                            <label id="lblHours"><strong>Hours</strong></label>
                                                            <input type="number"  class="form-control" id="OSHoursCount" name="OSHoursCount" min="1" value="1" required  >     

                                                        </div>
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <label id="EquipmentAmount" >0</label>
                                                            <button type="button" class="btn btn-info" id="AddEquipment" data-enter="modal">Add Op Support</button>
                                                        </div>                                            
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </body>
                </html>
