<!DOCTYPE html>
<html>
    <head>
        { head }

        <script type="text/javascript">
            var offcrcount = 0;
            var offcrarr = [];
            var CreatedutySheet = false;
            $(document).ready(function () {

                var submitcontainer = document.getElementById("submitcontrol");
                var submitcontrol = document.createElement("button");
                submitcontrol.innerHTML = "Create Duty Sheet";
                submitcontrol.style.display = "none";
                submitcontrol.setAttribute("type", "submit");
                submitcontrol.setAttribute("id", "btn-create");
                submitcontrol.setAttribute("name", "btn-create");
                submitcontrol.setAttribute("class", "btn btn-default blue");

                submitcontainer.appendChild(submitcontrol);

                var addcontainer = document.getElementById("addcontrols");
                var adddetails = document.createElement("a");
                //adddetails.style.display = "none";
                adddetails.innerHTML = "Create Duty Sheet";
                adddetails.setAttribute("id", "adddetails");
                adddetails.setAttribute("class", "btn btn-default blue");
                adddetails.style.display = "none";
                addcontainer.appendChild(adddetails);

                var addofficer = document.createElement("a");
                addofficer.style.display = "none";
                addofficer.innerHTML = "Officer  ";
                addofficer.setAttribute("id", "addofficer");
                addofficer.setAttribute("class", "btn btn-default white");
                var i = document.createElement("i");
                i.setAttribute("class", "glyphicon glyphicon-plus");

                addofficer.appendChild(i);
                addcontainer.appendChild(addofficer);

                $(document).on("click", "#addofficer", function () {
//alert('hello');
                    var pillcontainer = document.getElementById('offcrpillcontainer');
                    var pillwrapper = document.getElementById('offcrpillwrapper');

                    //create instance of list elements
                    var pill = document.createElement("li");
                    var removeicon = document.createElement("span");
                    removeicon.setAttribute("class", "glyphicon glyphicon-minus");
                    //pill.setAttribute("id", "officerpill" + offcrcount);
                    pill.setAttribute("id", $("#Natregno").val());

                    //dynamically create functions
                    var pillanchor = document.createElement("a");
                    pillanchor.appendChild(document.createTextNode(document.getElementById("EmpName").value));
                    pillanchor.appendChild(removeicon);
                    var offcrrec = new Array();
                    offcrrec.push(document.getElementById("EmpName").value);
                    offcrrec.push(document.getElementById("Natregno").value);
                    offcrrec.push(document.getElementById("hours").value);
                    offcrrec.push(document.getElementById("PayRate").value);
                    offcrrec.push(document.getElementById("RateCode").value);
                    offcrrec.push(document.getElementById("ForceNumber").value);

                    offcrarr.push(offcrrec);

                    pill.appendChild(pillanchor);
                    pillwrapper.appendChild(pill);
                    pillcontainer.appendChild(pillwrapper);

                    $(".offcrpillwrapper li").on("click", function () {
                        //var index = this.id.toString().substring(this.id.toString().length - 1, this.id.toString().length);
                        var key = this.id.toString().trim();
                        PopulatePanelInfo(key);
                    });

                    $(".offcrpillwrapper li").on("dblclick", function () {
                        //var index = this.id.toString().substring(this.id.toString().length - 1, this.id.toString().length);

                        var key = this.id.toString().trim();

                        var elem = document.getElementById(this.id.toString());
                        elem.parentNode.removeChild(elem);
                        RemoveInfo(key);

                    });

                });

//show events button
//$('#btnShowEvents').on('click', function () {
     $(document).on("click", "#btnShowEvents", function () {
var btnshowevents =  document.getElementById("btnShowEvents").innerHTML;

if (btnshowevents == "Show Events"){
    document.getElementById("btnShowEvents").innerHTML = "Hide Events";
}else{
    document.getElementById("btnShowEvents").innerHTML = "Show Events";
}
    //document.getElementById("btnShowEvents").innerHTML = "Show Events";

});
//

                // Set search input value on click of result item Employee ONLY
                $(document).on("click", ".result p", function () {
                    $(this).parents(".search-boxemp1").find('input[type="text"]').val($(this).text());
                    $test = document.getElementById('searchemp1').value;

                    if ($test == "") {
                                document.getElementById("txtHint").innerHTML = "";
                                return;
                        } else {
                                if (window.XMLHttpRequest) {
                                        // code for IE7+, Firefox, Chrome, Opera, Safari
                                        xmlhttp = new XMLHttpRequest();
                                } else {
                                        // code for IE6, IE5
                                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                }
                                xmlhttp.onreadystatechange = function () {
                                        if (this.readyState == 4 && this.status == 200) {

                                 document.getElementById("txtHint").innerHTML = this.responseText;
                                $("#submitteremployee").text($("#Natregno").val());
                                $("#submitteremployeename").text($("#EmpName").val());
                                $("#submitterrates").text($("#PayRate").val());
                                $("#btn-create").show();
                                $("#addofficer").show();
                                $("#subsamt").hide();
                                $("#passnum").hide();
                                document.getElementById('hours').value = document.getElementById('HoursEngaged').value;   
                                        }
                                };
                                xmlhttp.open("GET", "/Views/Shared/Controls/EmployeeSearch/getuser-sub.php?q[]=" + $test + "&InspectionDateStart[]=" + $("#InspectionDateStart").val(), true);
                                xmlhttp.send();
                        
                                           
                        }
                    $(this).parent(".result").empty();
                });

                //Add the information capture panel to the form
                $(document).on("click", "#adddetails", function () {
                    count = 1;

                    

                    $("#dutySheet").show();
                    $("#adddetails").hide();
                    //create dynamic instance of payment
                    var container = document.getElementById('container');
                    container.setAttribute("class", "col-xs-12");

                    //create instances of div wrappers
                    var divmid = document.createElement("div");
                    var divsearch = document.createElement("div");
                    var divhint = document.createElement("div");

                    //set attributes for div wrappers for bootstrap styling
                    divhint.setAttribute("class", "result");
                    divhint.setAttribute("id", "txtHint");
                    divsearch.setAttribute("class", "search-boxemp" + count)
                    divmid.setAttribute("class", "col-xs-12");

                    //create officer text control
                    var offcrinput = document.createElement("input");
                    offcrinput.name = "officerid" + count;
                    offcrinput.setAttribute("class", "form-control");
                    offcrinput.setAttribute("id", "searchemp" + count);
                    offcrinput.setAttribute("type", "text");
                    offcrinput.setAttribute("autocomplete", "off");
                    offcrinput.setAttribute("placeholder", "Search employee name or force number...");

                    offcrinput.onkeyup = function () {
                        /* Get input value on change */
                        var inputVal = $(this).val();
                        var resultDropdown = $(this).siblings(".result");
                        var isnum = /[0-9]/;
                        var isalpha = /[a-zA-Z]/;

                        if (inputVal.length)
                        {
                            if (isalpha.test(inputVal))
                            {
                                $.get("/Views/Shared/Controls/EmployeeSearch/backend-search.php?type=" + "name", {term: inputVal}).done(function (data) {
                                    // Display the returned data in browser
                                    resultDropdown.html(data);
                                });
                            } else
                            if (isnum.test(inputVal))
                            {
                                $.get("/Views/Shared/Controls/EmployeeSearch/backend-search.php?type=" + "forcenumber", {term: inputVal}).done(function (data) {
                                    // Display the returned data in browser
                                    resultDropdown.html(data);
                                });
                            }
                            $("#adddetails").hide();
                        } else {
                            resultDropdown.empty();
                        }
                    }

                    //start wrapping and adding
                    divsearch.appendChild(offcrinput);
                    divhint.appendChild(document.createElement("p"));
                    divsearch.appendChild(divhint);
                    divmid.appendChild(divsearch);
                   container.appendChild(divmid);
                });
                
                                    
                    

                $('.search-boxcomp input[type="text"]').on("keyup input", function () {
                    /* Get input value on change */
                    var inputVal = $(this).val();
                    var resultDropdown = $(this).siblings(".resultcomp");
                    var isnum = /[0-9]/;
                    var isalpha = /[a-zA-Z]/;

                    if (inputVal.length) {
                        if (isalpha.test(inputVal))
                        {
                            $.get("../Views/Shared/Controls/CompanySearch/backend-search.php?type=" + "name", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        } else
                        if (isnum.test(inputVal))
                        {
                            $.get("../Views/Shared/Controls/CompanySearch/backend-search.php?type=" + "companyid", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        }

                    } else {
                        resultDropdown.empty();
                    }
                });

                // Set search input value on click of result item
                $(document).on("click", ".resultcomp p", function () {
                    $(this).parents(".search-boxcomp").find('input[type="text"]').val($(this).text());
                    $test = document.getElementById('searchcomp').value;
                    if ($test == "") {
                                document.getElementById("txtHintcomp").innerHTML = "";
                                return;
                        } else {
                                if (window.XMLHttpRequest) {
                                        // code for IE7+, Firefox, Chrome, Opera, Safari
                                        xmlhttp = new XMLHttpRequest();
                                } else {
                                        // code for IE6, IE5
                                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                }
                                xmlhttp.onreadystatechange = function () {
                                        if (this.readyState == 4 && this.status == 200) {
                                                document.getElementById("txtHintcomp").innerHTML = this.responseText;
                                           $('input#EventDate').datepicker({dateFormat: 'yy-mm-dd'});
                                        }
                                };
                        $('input#DateOfBirth').datepicker({dateFormat: 'yy-mm-dd'});
                                xmlhttp.open("GET", "../Views/Shared/Controls/EventSearch/listapprovedevents.php?q=" + $test, true);
                                xmlhttp.send();
                        
                        
                        }
                    $(this).parent(".result").empty();
                    //alert('test');
                });

                $(document).on("click", ".pillwrapper li", function () {

                    var key = $(this).attr("class");
                    
                    if (CreatedutySheet === false){
                    $("#adddetails").show();
                    CreatedutySheet = true;
                }
                    //$("#dutySheet").show();


                    var EventId = $("." + key).find('#liEventId').text();
                    var EventName = $("." + key).find('#liEventName').text();
                    var EventCost = $("." + key).find('#liEventCost').text();

                    var EventDateStart = $("." + key).find('#liEventDateStart').text();
                    var EventDateEnd = $("." + key).find('#liEventDateEnd').text();

                    var PoliceServices = $("." + key).find('#liPoliceServices').text();
                    var VATPoliceServices = $("." + key).find('#liVATPoliceServices').text();
                    var OperationalSupport = $("." + key).find('#liOperationalSupport').text();
                     var CompID = $("." + key).find('#liCompanyId').text();

                    // $(".modal-body #VATPoliceServices").val($("."+key).find('#liVATPoliceServices').text());
                    if (EventDateEnd !== "")
                    {
                        document.getElementById("DetailsEventDateEnd").innerHTML = EventDateEnd;
                    }
                    document.getElementById("DetailsEventName").innerHTML = EventName;
                    document.getElementById("DetailsEventDateStart").innerHTML = EventDateStart;
                    document.getElementById("DetailsEventCost").innerHTML = "$" + EventCost;
                    document.getElementById("DetailsPoliceServices").innerHTML = "$" + PoliceServices;
                    document.getElementById("DetailsVATPoliceServices").innerHTML = "$" + VATPoliceServices;
                    document.getElementById("DetailsOperationalSupport").innerHTML = "$" + OperationalSupport;

                    document.getElementById("hdnEventId").value = EventId;
                    document.getElementById("hdnEventName").value = EventName;
                    
                    document.getElementById("lblEventRef").innerHTML = EventId;
        
 document.getElementById("hdnCompID").value = CompID;
                    //document.getElementById("adddetails").style.display = "show";
                    document.getElementById("divEventDetails").style.display = "";
                   // document.getElementById("formDeleteEvent").style.display = "";
                    document.getElementById("DateOfDuty").value = EventDateStart;
                    
                    

                });
                
                 $('#TimeDispatchhrs, #TimeDispatchmins').on('change click input', function () {
                    var TimeDispatchhrs = $('#TimeDispatchhrs').val();
                                       
                    if (TimeDispatchhrs.length >= 2)
                    {
                        $('#TimeDispatchhrs').val(TimeDispatchhrs.slice(0,2))
                    } else if ((TimeDispatchhrs.length === 1))
                    {
                        $('#TimeDispatchhrs').val("0"+TimeDispatchhrs);
                    }
                    
                    var TimeDispatchmins = $('#TimeDispatchmins').val();
                                        
                     if (TimeDispatchmins.length >= 2)
                    {
                        $('#TimeDispatchmins').val(TimeDispatchmins.slice(0,2))
                    } else if ((TimeDispatchmins.length === 1))
                    {
                        $('#TimeDispatchmins').val("0"+TimeDispatchmins);
                    }
                    
                    document.getElementById("hdnDispatchTime").value = $('#TimeDispatchhrs').val() + ':' +$('#TimeDispatchmins').val();
                                      
                });
                
                $('#TimeArrivalhrs, #TimeArrivalmins').on('change click input', function () {
                    var TimeArrivalhrs = $('#TimeArrivalhrs').val();
                                       
                    if (TimeArrivalhrs.length >= 2)
                    {
                        $('#TimeArrivalhrs').val(TimeArrivalhrs.slice(0,2))
                    } else if ((TimeArrivalhrs.length === 1))
                    {
                        $('#TimeArrivalhrs').val("0"+TimeArrivalhrs);
                    }
                    
                    var TimeArrivalmins = $('#TimeArrivalmins').val();
                                        
                     if (TimeArrivalmins.length >= 2)
                    {
                        $('#TimeArrivalmins').val(TimeArrivalmins.slice(0,2))
                    } else if ((TimeArrivalmins.length === 1))
                    {
                        $('#TimeArrivalmins').val("0"+TimeArrivalmins);
                    }
                               document.getElementById("hdnArrivalTime").value = $('#TimeArrivalhrs').val() + ':' +$('#TimeArrivalmins').val();        
                });
                
                 $('#TimeDismissalhrs, #TimeDismissalmins').on('change click input', function () {
                    var TimeDismissalhrs = $('#TimeDismissalhrs').val();
                                       
                    if (TimeDismissalhrs.length >= 2)
                    {
                        $('#TimeDismissalhrs').val(TimeDismissalhrs.slice(0,2))
                    } else if ((TimeDismissalhrs.length === 1))
                    {
                        $('#TimeDismissalhrs').val("0"+TimeDismissalhrs);
                    }
                    
                    var TimeDismissalmins = $('#TimeDismissalmins').val();
                                        
                     if (TimeDismissalmins.length >= 2)
                    {
                        $('#TimeDismissalmins').val(TimeDismissalmins.slice(0,2))
                    } else if ((TimeDismissalmins.length === 1))
                    {
                        $('#TimeDismissalmins').val("0"+TimeDismissalmins);
                    }
                         document.getElementById("hdnDismissalTime").value = $('#TimeDismissalhrs').val() + ':' +$('#TimeDismissalmins').val();                      
                });
                
                 $('#TimeReturnhrs, #TimeReturnmins').on('change click input', function () {
                    var TimeReturnhrs = $('#TimeReturnhrs').val();
                                       
                    if (TimeReturnhrs.length >= 2)
                    {
                        $('#TimeReturnhrs').val(TimeReturnhrs.slice(0,2))
                    } else if ((TimeReturnhrs.length === 1))
                    {
                        $('#TimeReturnhrs').val("0"+TimeReturnhrs);
                    }
                    
                    var TimeReturnmins = $('#TimeReturnmins').val();
                                        
                     if (TimeReturnmins.length >= 2)
                    {
                        $('#TimeReturnmins').val(TimeReturnmins.slice(0,2))
                    } else if ((TimeReturnmins.length === 1))
                    {
                        $('#TimeReturnmins').val("0"+TimeReturnmins);
                    }
                    
                    document.getElementById("hdnReturnTime").value = $('#TimeReturnhrs').val() + ':' +$('#TimeReturnmins').val();                      
                                      
                });
                
                 $("#paymentform").submit(function () {
                    
                    var key = this.id.toString().trim();
                    PopulatePanelInfo(key);
                    $("#hdnoffarr").val(JSON.stringify(offcrarr));
                });


                function PopulatePanelInfo(key)
                {
                    var EmpName = document.getElementById("EmpName");
                    var Natregno = document.getElementById("Natregno");
                    var hours = document.getElementById("hours");
                    
                    var PayRate = document.getElementById("PayRate");
                    var RateCode = document.getElementById("RateCode");
                    var ForceNumber = document.getElementById("ForceNumber");
                    for (i = 0; i < offcrarr.length; i++) {

                        if (offcrarr[i][1] === key)
                        {
                            EmpName.value = offcrarr[i][0].toString();
                            Natregno.value = offcrarr[i][1].toString();
                            hours.value = offcrarr[i][2].toString();
//                            distance.value = offcrarr[i][3].toString();
//                            passnum.value = offcrarr[i][4].toString();
//                            subsamt.value = offcrarr[i][5].toString();
                            PayRate.value = offcrarr[i][3].toString();
                            RateCode.value = offcrarr[i][4].toString();
                            ForceNumber.value = offcrarr[i][5].toString();
//                            haspx = offcrarr[i][8].toString();
//                            hassubs = offcrarr[i][9].toString();
                        }
                    }

                   
                }

                function RemoveInfo(key) {
                    var indextoremove;
                    for (i = 0; i < offcrarr.length; i++) {

                        if (offcrarr[i][1] === key)
                        {
                            indextoremove = i;
                        }
                    }
                    offcrarr.splice(indextoremove, 1);
                }

//                function UpdateInfo(key) {
//
//                    for (i = 0; i < offcrarr.length; i++) {
//
//                        if (offcrarr[i][1] === key)
//                        {
//                            var EmpName = document.getElementById("EmpName");
//                            var Natregno = document.getElementById("Natregno");
//                            var hours = document.getElementById("hours");
////                            var distance = document.getElementById("distance");
////                            var passnum = document.getElementById("passnum");
////                            var subsamt = document.getElementById("subsamt");
//                            var PayRate = document.getElementById("PayRate");
//                            var RateCode = document.getElementById("RateCode");
////                            var HasPx = document.getElementById("passenger");
////                            var HasSub = document.getElementById("subsistence");
//                            offcrarr[i][0] = EmpName.value;
//                            offcrarr[i][1] = Natregno.value;
//                            offcrarr[i][2] = hours.value;
////                            offcrarr[i][3] = distance.value;
////                            offcrarr[i][4] = passnum.value;
////                            offcrarr[i][5] = subsamt.value;
//                            offcrarr[i][3] = PayRate.value;
//                            offcrarr[i][4] = RateCode.value;
////                            offcrarr[i][8] = haspx;
////                            offcrarr[i][9] = hassubs;
//
//                            ToggleControl();
//                        }
//                    }
//                }

            });

        </script>         
    </head>
    <body>
        <div class="wrapper">
            <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <a class="page-logo" id="index" href="/index.php">
                                <img src="../assets/global/img/customs logo no back.png" alt="" height="400"/>                          
                                <img src="../assets/global/img/OVERTIME-APP-LOGO.png" alt=""/>
                            </a>
                            <div class="topbar-actions">
                                <div class="btn-group-img btn-group">
                                    <button class="btn btn-sm md-skip dropdown-toggle" type="button" data-toggle="dropdown" data-close-others="true" data-hover="dropdown">
                                        <span>Hi,<?php echo $_SESSION['firstname']; ?></span>
                                    </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                        <li>
                                            <a href="/changepassword">
                                                <i class="icon-user"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                <i class="icon-key"></i> Log Out 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="icon-briefcase"></i> <?php echo $_SESSION['user_roles']; ?>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                        
                        </div>                       
                        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse"  >
                            <ul class="nav navbar-nav" >
                                <li class="dropdown dropdown-fw dropdown-fw-disabled active open selected">
                                    <a class="text-uppercase" href="/index.php">
                                        <i class="icon-home"></i> Home 
                                    </a>      
                                </li>
                                <li>
                                    <a class="text-uppercase" href="/dutysheet/edit"><i class="glyphicon glyphicon-pencil"></i>View/Edit Duty Sheet</a>
                                </li>
                            </ul>
                        </div>                      
                    </div>                
                </nav>
            </header>
            <div class="container-fluid">
                <div class="page-content">
                    <div class="page-content-row">
                        <div class="col-md-3">
                            <div class="page-sidebar">
                                <div class="col-xs-12">
                                    <a class="dashboard-stat dashboard-stat-v2 blue" href="/event/create">
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-value="2" id="submittercompany" style="font-size: xx-large"  data-counter="counterup" class="glyphicon glyphicon-briefcase"></span>
                                            </div>
                                            <div class="desc"> Create Event </div>
                                        </div>
                                    </a>
                                </div>
<!--                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 red" >
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                       <div class="details">
                                            <div class="number">
                                                <span class="glyphicon glyphicon-usd"></span><span  id="eventcost" style="font-size: xx-large" ></span>
                                            </div>
                                            <div class="desc"> Event Cost </div>
                                        </div>
                                    </div>
                                </div>-->
                                <center>
                                    <a class="btn btn-outline blue" href="../../index.php">back to main page</a>    
                                </center>
                                <div class="offcrpillwrapper" id="offcrpillcontainer">
                                    <ul class="nav nav-pills nav-stacked" id="offcrpillwrapper" >                                   
                                    </ul>   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="page-content-col-8"> 
                                <div class="panel panel-info" >
                                    <div class="panel-heading">
                                        <center>
                                            <h3><label id="lblEventRef" class="label label-info"></label>&nbsp;&nbsp; &nbsp;<label id="lblBillFormNum" style="display:none" class="label label-info" ></label></h3>
                                        </center>
                                    </div>
                                </div>
                                <div class="portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption"><em class="fa fa-group"></em>Create Duty Sheet</div>
                                        <div class="tools">
                                            <a title="" class="collapse" href="javascript:;" data-original-title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form method="post" action="" id="paymentform"  >
                                            <div class="form-body">
                                                <div class="row center-block">  
                                                    <div class="col-xs-12">                                                        
                                                        <?php
                                                        include 'Views/Shared/Controls/CompanySearch/search-form.php';
                                                        ?> 
                                                        <div id="dutySheet" style="display: none">
<!--                                                            <div class="row center-block">
                                                                <center><label id="lblDutySheeetId"></label></center>
                                                            </div>-->
                                                            <div class="row center-block">
                                                                <div class="col-md-4">
                                                                    <span class="glyphicon glyphicon-calendar"></span><label style="color: #00B0E8">Date of Duty</label>
                                                                    
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <span class="glyphicon glyphicon-calendar"></span><label style="color: #00B0E8">Dispatch Time</label>
                                                                   
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <span class="glyphicon glyphicon-calendar"></span><label style="color: #00B0E8">Arrival Time</label>
                                                                    
                                                                </div> 
                                                            </div>
                                                            <div class="row center-block">
                                                                <div class="col-md-4">
                                                                    
                                                                    <input type="text" class="form-control" name="DateOfDuty" id="DateOfDuty" required="" readonly="" > 
                                                                </div>
                                                                <div class="col-md-4">
                                                                    
                                                                   
                                                                         <div class="col-md-10 form-inline">
                                                                            <input type="number" class="form-control" name="TimeDispatchhrs" id="TimeDispatchhrs" min="0" max="23" placeholder="23" >
                                                                       :
                                                                        
                                                                             <input type="number" class="form-control" name="TimeDispatchmins" id="TimeDispatchmins" min="0" step="5" max="59" placeholder="00" >
                                                                    </div>
                                                                   
                                                                </div>
                                                                <div class="col-md-4">
                                                                       <div class="col-md-10 form-inline">
                                                                            <input type="number" class="form-control" name="TimeArrivalhrs" id="TimeArrivalhrs" min="0" max="23" placeholder="23" >
                                                                       :
                                                                        
                                                                             <input type="number" class="form-control" name="TimeArrivalmins" id="TimeArrivalmins" min="0" max="59" placeholder="00" >
                                                                    </div>
<!--                                                                    <input type="text" class="form-control" name="TimeArrival" id="TimeArrival" required="" > -->
                                                                </div> 
                                                            </div>
                                                            <div class="row center-block">
                                                                <div class="col-md-4">
                                                                    <span class="glyphicon glyphicon-calendar"></span><label style="color: #00B0E8">Dismissal Time</label>
<!--                                                                    <input type="text" class="form-control" name="TimeDismissal" id="TimeDismissal" required="" > -->
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <span class="glyphicon glyphicon-calendar"></span><label style="color: #00B0E8">Return Time</label>
<!--                                                                    <input type="text" class="form-control" name="TimeReturn" id="TimeReturn" required="" > -->
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <span class="glyphicon glyphicon-calendar"></span><label style="color: #00B0E8">Hours Engaged</label>
<!--                                                                    <input type="number" class="form-control" name="HoursEngaged" id="HoursEngaged" required="" min="1" max="24"> -->
                                                                </div> 
                                                            </div>
                                                            <div class="row center-block">
                                                                
                                                                <div class="col-md-4">
                                                                    
                                                                   
                                                                         <div class="col-md-10 form-inline">
                                                                            <input type="number" class="form-control" name="TimeDismissalhrs" id="TimeDismissalhrs" min="0" max="23" placeholder="23" >
                                                                       :
                                                                        
                                                                             <input type="number" class="form-control" name="TimeDismissalmins" id="TimeDismissalmins" min="0" max="55" step="5" placeholder="00" >
                                                                    </div>
                                                                   
                                                                </div>
                                                                <div class="col-md-4">
                                                                       <div class="col-md-10 form-inline">
                                                                            <input type="number" class="form-control" name="TimeReturnhrs" id="TimeReturnhrs" min="0" max="23" placeholder="23" >
                                                                       :
                                                                        
                                                                             <input type="number" class="form-control" name="TimeReturnmins" id="TimeReturnmins" min="0" max="55" step="5" placeholder="00" >
                                                                    </div>
<!--                                                                    <input type="text" class="form-control" name="TimeArrival" id="TimeArrival" required="" > -->
                                                                </div> 
                                                                <div class="col-md-4">
                                                                    
                                                                    <input type="number" class="form-control" name="HoursEngaged" id="HoursEngaged" required="" min="1" max="24">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                <div class="row center-block">
                                                    <br>
                                                    <center id="addcontrols">                                                                                                                           

                                                    </center>
                                                    <br>
                                                    <div id='container'> 
                                                        
                                                    </div> 
                                                    
                                                </div>
                                                <center id="submitcontrol">   
                                                    <br>
                                                </center>
                                                <div class="col-xs-12" style="font-size: medium">

                                                </div>
                                            </div>
                                            <input type="hidden" name="EventName" id="hdnEventName" value="">
                                            <input type="hidden" name="EventId" id="hdnEventId" value="">
                                            <input type="hidden" name="DispatchTime" id="hdnDispatchTime" value="">
                                            <input type="hidden" name="ArrivalTime" id="hdnArrivalTime" value="">
                                            <input type="hidden" name="DismissalTime" id="hdnDismissalTime" value="">
                                            <input type="hidden" name="ReturnTime" id="hdnReturnTime" value="">
                                            <input type="hidden" name="CompID" id="hdnCompID" value="">
                                            <input type="hidden" name="offarr" id="hdnoffarr" value="">
<!--                                            <input type="hidden" name="DutySheetId" id="hdnDutySheetId" value="">    -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            { foot } 
    </body>
</html>
