<html lang="en-US">
    <head>
        { head }
        <script type="text/javascript">
            $(document).ready(function () {
                var stationcount = 0;
                var stationarr = [];

                $('#AddStation').on('click', function () {
                    // alert("hello");
                    var stationrec = [];
                    var stationid = $('#StationId').val();
                    var stationname = $('#StationName').val();
                    stationrec.push(stationid);
                    stationrec.push(stationname);

                    var pillcontainer = document.getElementById('pillcontainer');
                    var pillwrapper = document.getElementById('pillwrapper');

                    //create instance of list elements
                    var pill = document.createElement("li");
                    pill.setAttribute("id", "stationcount" + stationcount);

                    var removeicon = document.createElement("span");
                    removeicon.setAttribute("class", "glyphicon glyphicon-minus");

                    //dynamically create functions
                    var pillanchor = document.createElement("a");
                    //pillanchor.setAttribute("data-preactotal", OperationalSupportTotal);
                    pillanchor.setAttribute("style", "bold");
                    pillanchor.appendChild(document.createTextNode("Station Name- " + stationname + " Station Id " + stationid ));
                    //<a href="mailto:webmaster@example.com">Jon Doe</a>

                    pillanchor.appendChild(removeicon);

                    pill.appendChild(pillanchor);
                    pillwrapper.appendChild(pill);
                    pillcontainer.appendChild(pillwrapper);
                    //stationrec.push("preaccount" + stationcount);
                    // acctrec.push(acctid);
                    //acctrec.push(OperationalSupportTotal);
                    // acctrec.push(document.getElementById("AccountNumber").value);
                    stationarr.push(stationrec);

                    stationcount++;

                });

                $(document).on("dblclick", ".pillwrapper li", function (event) {

                    var key = this.id.toString();
                    var elem = document.getElementById(this.id.toString());
                    elem.parentNode.removeChild(elem);
                    RemoveInfo(key);

                });

                //Send the populated array to the controller
                $("#stationform").submit(function () {
                    //TogglePRNControl();
                    //var key = this.id.toString().trim();
                    //PopulatePanelInfo(key);
                    $("#stationlist").val(JSON.stringify(stationarr));
                });
                function RemoveInfo(key) {
                    var indextoremove;

                    for (i = 0; i < stationarr.length; i++) {
                        // alert(accountarr[i][0]);

                        if (stationarr[i][0] === key)
                        {
                            alert(stationarr[i][1]);
                            // PreAccountTotal = PreAccountTotal - parseFloat(accountarr[i][1]);
                            indextoremove = i;
                        }
                    }
                    stationarr.splice(indextoremove, 1);
                    //$("#eventcost").text(PreAccountTotal.toFixed(2));
                    /* for (x = 0; x < accountarr.length; x++) {
                     
                     alert(accountarr[x][0] + accountarr[x][1]);
                     }*/
                    //alert(accountarr);
                }
            });
        </script>
    </head>
    <body class="">
        <div class="wrapper">
            <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <a class="page-logo" id="index" href="/index.php">
                                <img src="/assets/global/img/customs logo no back.png" alt="" height="400"/>                          
                                <img src="/assets/global/img/OVERTIME-APP-LOGO.png" alt=""/>
                            </a>
                            <div class="topbar-actions">
                                <div class="btn-group-img btn-group">
                                    <button class="btn btn-sm md-skip dropdown-toggle" type="button" data-toggle="dropdown" data-close-others="true" data-hover="dropdown">
                                        <span>Hi,<?php echo $_SESSION['firstname']; ?></span>
                                    </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                        <li>
                                            <a href="/changepassword">
                                                <i class="icon-user"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                <i class="icon-key"></i> Log Out 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="icon-briefcase"></i> <?php echo $_SESSION['user_roles']; ?>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                        
                        </div>                       
                        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse"  >
                            <ul class="nav navbar-nav" >
                                <li class="dropdown dropdown-fw dropdown-fw-disabled active open selected">
                                    <a class="text-uppercase" href="/index.php">
                                        <i class="icon-home"></i> Home 
                                    </a>      
                                </li>
                                <li>
                                    <a class="text-uppercase" href="/adminconsole"><i class="glyphicon glyphicon-briefcase"></i>Admin Console</a>
                                </li>
                                <li>
                                    <a class="text-uppercase" href="/station/edit"> <i class="glyphicon glyphicon-pencil"></i>View/Edit/Delete Station</a>
                                </li>
                            </ul>
                        </div>                      
                    </div>                
                </nav>
            </header>
            <div class="container-fluid">
                <div class="page-content">
                    <div class="page-content-row">
                        <div class="col-md-3">
                            <div class="page-sidebar">
                                <div class=" col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 blue" >
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-value="2" id="submitterstation" style="font-size: xx-large"  data-counter="counterup" class="glyphicon glyphicon-signal"> </span>
                                            </div>
                                            <br>
                                            <div class="desc"> Active Divisions </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 purple" >
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-value="2" id="submitterstation" style="font-size: xx-large"  data-counter="counterup" class="glyphicon glyphicon-signal"> </span>
                                            </div>
                                            <br>
                                            <div class="desc"> Active Stations  </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <a class="btn btn-outline blue" href="../../index.php">back to main page</a>    
                                </center>
                            </div>   
                        </div>
                        <div class="col-md-9">
                            <div class="page-content-col-8">
                                <div class="portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption"><em class="fa fa-group"></em><h4>Enter Station Details</h4></div>
                                        <div class="tools">
                                            <a title="" class="collapse" href="javascript:;" data-original-title=""> </a>
                                        </div>
                                    </div>                                 


                                    <div class="portlet-body form">
                                        <form method="post" id="stationform" >
                                            <div class="form-group">
                                                <div class="row center-block panel-body">



                                                    <div class="col-xs-4 ">
                                                        <label>Division ID</label>
                                                        <input type="text" class="form-control" name="StationId" placeholder="****" autocomplete="off" required value=""  />
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>Division Name</label>
                                                        <input type="text" class="form-control" name="DivisionName" placeholder="" autocomplete="off" required value=""  />  
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row center-block panel-body">
                                                    <div class="col-xs-4" style="font-size: large">
                                                        <a id="addstation" class="btn btn-default green" data-toggle="modal" data-target="#myModal">Station <i class="glyphicon glyphicon-plus"></i>
                                                        </a>
                                                    </div>  
                                                    <div class="pillwrapper" id="pillcontainer">
                                                        <ul class="nav nav-pills nav-stacked" id="pillwrapper" >  
                                                            <br>

                                                        </ul>   
                                                    </div>
                                                </div>                                               

                                            </div>
                                            <br>
                                                 <div><input id="stationlist" name="stationlist" class="form-control" type="hidden" ></div>
                                            <center>
                                                <button type="submit" class="btn btn-default blue" name="btn-create"><strong>Create Station</strong></button>                                     
                                            </center>
                                            <br>
                                            <br>
                                            </div>
                                        </form> 
                                        <div class="modal" id="myModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Add Station Details</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <div class="col-md-6">
                                                            <label><strong>Station Id</strong></label>
                                                            <input type="text"  class="form-control" id="StationId" name="StationId" autocomplete="off" required value="" placeholder="xxxx">  
                                                            <label><strong>Station Name</strong></label>
                                                            <input type="text"  class="form-control" id="StationName" name="StationName" autocomplete="off" required value="" placeholder="">  

                                                        </div>
                                                    </div>
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                                                        <button type="button" class="btn btn-info" id="AddStation" data-enter="modal">Assign Station</button>

                                                    </div>                                            
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        { foot }
    </body>
</html>


