<html lang="en-US">
    <head>
        { head }
        <script type="text/javascript">
            $(document).ready(function () {
                var contactcount = 0;
                var contactarr = [];

                $('#AddContact').on('click', function () {
                    //alert("hello");
                    var contactrec = [];
                    var contactemail = $('#ContactEmail').val();
                    var contactname = $('#ContactName').val();
                    var contactnumber = $('#ContactNumber').val();
                    contactrec.push(contactname);
                    contactrec.push(contactemail);
                    contactrec.push(contactnumber);
                    var pillcontainer = document.getElementById('pillcontainer');
                    var pillwrapper = document.getElementById('pillwrapper');

                    //create instance of list elements
                    var pill = document.createElement("li");
                    pill.setAttribute("id", "contactcount" + contactcount);

                    var removeicon = document.createElement("span");
                    removeicon.setAttribute("class", "glyphicon glyphicon-minus");

                    //dynamically create functions
                    var pillanchor = document.createElement("a");
                    //pillanchor.setAttribute("data-preactotal", OperationalSupportTotal);
                    pillanchor.setAttribute("style", "bold");
                    pillanchor.appendChild(document.createTextNode("Contact- " + contactname + " Email " + contactemail + "Contact #" + contactnumber));
                    //<a href="mailto:webmaster@example.com">Jon Doe</a>

                    pillanchor.appendChild(removeicon);

                    pill.appendChild(pillanchor);
                    pillwrapper.appendChild(pill);
                    pillcontainer.appendChild(pillwrapper);
                    //contactrec.push("preaccount" + contactcount);
                    // acctrec.push(acctid);
                    //acctrec.push(OperationalSupportTotal);
                    // acctrec.push(document.getElementById("AccountNumber").value);
                    contactarr.push(contactrec);

                    contactcount++;

                });

                $(document).on("dblclick", ".pillwrapper li", function (event) {

                    var key = this.id.toString();
                    var elem = document.getElementById(this.id.toString());
                    elem.parentNode.removeChild(elem);
                    RemoveInfo(key);

                });

                //Send the populated array to the controller
                $("#companyform").submit(function () {
                    //TogglePRNControl();
                    //var key = this.id.toString().trim();
                    //PopulatePanelInfo(key);
                    $("#contactlist").val(JSON.stringify(contactarr));
                });
                function RemoveInfo(key) {
                    var indextoremove;

                    for (i = 0; i < contactarr.length; i++) {
                        // alert(accountarr[i][0]);

                        if (contactarr[i][0] === key)
                        {
                            alert(contactarr[i][1]);
                            // PreAccountTotal = PreAccountTotal - parseFloat(accountarr[i][1]);
                            indextoremove = i;
                        }
                    }
                    contactarr.splice(indextoremove, 1);
                    //$("#eventcost").text(PreAccountTotal.toFixed(2));
                    /* for (x = 0; x < accountarr.length; x++) {
                     
                     alert(accountarr[x][0] + accountarr[x][1]);
                     }*/
                    //alert(accountarr);
                }
            });
        </script>
    </head>
    <body class="">
        <div class="wrapper">
            <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <a class="page-logo" id="index" href="/index.php">
                                <img src="../assets/global/img/customs logo no back.png" alt="" height="400"/>                          
                                <img src="../assets/global/img/OVERTIME-APP-LOGO.png" alt=""/>
                            </a>
                            <div class="topbar-actions">
                                <div class="btn-group-img btn-group">
                                    <button class="btn btn-sm md-skip dropdown-toggle" type="button" data-toggle="dropdown" data-close-others="true" data-hover="dropdown">
                                        <span>Hi,<?php echo $_SESSION['firstname']; ?></span>
                                    </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                        <li>
                                            <a href="/changepassword">
                                                <i class="icon-user"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                <i class="icon-key"></i> Log Out 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="icon-briefcase"></i> <?php echo $_SESSION['user_roles']; ?>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                        
                        </div>                       
                        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse"  >
                            <ul class="nav navbar-nav" >
                                <li class="dropdown dropdown-fw dropdown-fw-disabled active open selected">
                                    <a class="text-uppercase" href="/index.php">
                                        <i class="icon-home"></i> Home 
                                    </a>      
                                </li>
                                <li>
                                    <a class="text-uppercase" href="/company/edit"><i class="glyphicon glyphicon-eye-open"></i>View &nbsp; <i class="glyphicon glyphicon-pencil"></i>Edit Company</a>
                                </li>
                            </ul>
                        </div>                      
                    </div>                
                </nav>
            </header>
            <div class="container-fluid">
                <div class="page-content">
                    <div class="page-content-row">
                        <div class="col-md-3">
                            <div class="page-sidebar">
                                <div class=" col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 blue" >
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-value="2" id="submittercompany" style="font-size: xx-large"  data-counter="counterup" class="glyphicon glyphicon-signal"> { actv_comp }</span>
                                            </div>
                                            <br>
                                            <div class="desc"> Active Companies </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 purple" >
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-value="2" id="submittercompany" style="font-size: xx-large"  data-counter="counterup" class="glyphicon glyphicon-signal"> { zerobal_comp }</span>
                                            </div>
                                            <br>
                                            <div class="desc"> Zero Balances  </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <a class="btn btn-outline blue" href="../../index.php">back to main page</a>    
                                </center>
                            </div>   
                        </div>
                        <div class="col-md-9">
                            <div class="page-content-col-8">
                                <div class="portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption"><em class="fa fa-group"></em><h4>Enter Company Details</h4></div>
                                        <div class="tools">
                                            <a title="" class="collapse" href="javascript:;" data-original-title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form method="post" action="" id="companyform">
                                            <div class="form-group">
                                                <div class="row center-block panel-body">                                                   
                                                    <div class="col-xs-4">
                                                        <label>TAMIS ID</label>
                                                        <input type="text" class="form-control" name="TIN" placeholder="" autocomplete="off" required value="{ TIN }"  />  
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>Company Name</label>
                                                        <input type="text" class="form-control" name="CompanyName" placeholder="" autocomplete="off" required value="{ CompanyName }"  />  
                                                    </div>
                                                </div> 
                                                <div class="row center-block panel-body">
                                                    <div class="col-xs-4 ">
                                                        <label>Caipo ID</label>
                                                        <input type="text" class="form-control" name="CaipoId" placeholder="**********" autocomplete="off" required value="{ CaipoId }"  />
                                                    </div>
                                                    <!--                                                     <div class="col-xs-4 ">
                                                                                                            <label>Company ID</label>
                                                                                                            <input type="text" class="form-control" name="CompanyId" placeholder="**********" autocomplete="off" required value="{ CompanyId }"  />
                                                                                                        </div>                                               -->
                                                </div> 
                                                <div class="row center-block panel-body">
                                                    <div class="col-xs-4">
                                                        <label>Apt / House #</label>
                                                        <input type="text" class="form-control" name="AddressLine1" placeholder="" autocomplete="off"  value="{ AddressLine1 }" />
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label>Street</label>
                                                        <input type="text" class="form-control" name="AddressLine2" placeholder="" autocomplete="off" required value="{ AddressLine2 }" >
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label>District</label>
                                                        <input type="text" class="form-control" name="AddressLine3" placeholder="" autocomplete="off" required value="{ AddressLine3 }" > 
                                                    </div>
                                                </div>

                                                <div class="row center-block panel-body">
                                                    <div class="col-xs-4">
                                                        <label>Parish</label>
                                                        <select name="Parish" class="form-control">
                                                            <option></option>
                                                            { parishes }
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label>Postal Code</label>
                                                        <input type="text" class="form-control" name="PostalCode" placeholder="" value="{ PostalCode }" >
                                                    </div>
                                                    <div class="col-xs-4" style="font-size: large">
                                                        <br>

                                                        <a id="addrank" class="btn btn-default green" data-toggle="modal" data-target="#myModal">Add Contact <i class="glyphicon glyphicon-plus"></i>
                                                        </a>
                                                    </div>  
                                                </div>
                                                <div class="row center-block panel-body">
                                                    <div class="col-xs-4">

                                                        <div class="row">

                                                        </div>
                                                    </div>

                                                    <div class="col-xs-4" style="font-size: large">
                                                        { val_CompanyName } 
                                                    </div>
                                                </div>

                                                <div class="row center-block panel-body">
                                                    <div class="col-xs-4">
                                                        <label>Phone</label>
                                                        <input type="text" class="form-control" name="PhoneNumber" placeholder="888-888" autocomplete="off"  value="{ PhoneNumber }" >

                                                        <label>Fax</label>
                                                        <input type="text" class="form-control" name="FaxNumber" placeholder="888-8888" value="{ FaxNumber }" >

                                                        <label>Email</label>
                                                        <input type="text" class="form-control" name="Email" placeholder="example@domain" autocomplete="off"  value="{ Email }" >
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="col-xs-7">
                                                            <label>Notes</label>
                                                            <textarea name="Notes" id="Notes" rows="4" cols="12" class="form-control" ></textarea> 
                                                        </div>
                                                    </div>  
                                                    <div class="col-xs-4">
                                                        <div class="pillwrapper" id="pillcontainer">
                                                            <ul class="nav nav-pills nav-stacked" id="pillwrapper" >  
                                                                <br>

                                                            </ul>   
                                                        </div>
                                                    </div>
                                                    <div><input id="contactlist" name="contactlist" class="form-control" type="hidden" ></div>
                                                </div>
                                                <br>
                                                <center>
                                                    <button type="submit" class="btn btn-default blue" name="btn-create"><strong>Create Company</strong></button>                                     
                                                </center>
                                            </div>
                                        </form>  
                                        <div class="modal" id="myModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Enter Contact Details</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">      
                                                        <label><strong>Contact Name</strong></label>
                                                        <input type="text"  class="form-control" id="ContactName" name="ContactName" min="1"  required  >                                                                                                        
                                                        <label><strong>Contact Email</strong></label>
                                                        <input type="text"  class="form-control" id="ContactEmail" name="ContactEmail"  required  >     
                                                        <label><strong>Contact Number</strong></label>
                                                        <input type="text"  class="form-control" id="ContactNumber" name="ContactNumber" min="1"  required  >     
                                                    </div>
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">

                                                        <button type="button" class="btn btn-info" id="AddContact" data-enter="modal">Add Contact</button>
                                                    </div>                                            
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        { foot }
    </body>
</html>