<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="JasperServer" stopProcessing="true">
                    <match url="^jasper/.*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="localhost:8080/jasperserver" redirectType="Temporary" />
                </rule>
                <rule name="Imported Rule 1" stopProcessing="false">
                    <match url="." ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="URL path after '/'" matchType="Pattern" pattern="^jasper/.*" ignoreCase="true" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^jasper/.*" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Detailed" />
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="30000000" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
