<!DOCTYPE html>
<html>
    <head>
        { head }
        <style>
            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 50px;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                overflow-y: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenav a {
                padding: 8px 8px 8px 20px;
                text-decoration: none;
                font-size: 18px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }
            .sidenav tr:hover {
                color: #f1f1f1;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 50px;
                right: 25px;
                font-size: 25px;
                margin-left: 50px;
            }

            #main {
                transition: margin-left .5s;
                padding: 16px;
            }

            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }
        </style>
        <script type="text/javascript">
            var accountcount = 0;
            var accountarr = [];
            var Total = 0;

            $(document).ready(function () {

                var addcontainer = document.getElementById("addcontrols");
                var addofficer = document.createElement("a");
                //addofficer.style.display = "none";
                addofficer.innerHTML = "Add account  ";
                addofficer.setAttribute("id", "addofficer");
                addofficer.setAttribute("class", "btn btn-default white");
                addofficer.setAttribute("data-toggle", "modal");
                addofficer.setAttribute("data-target", "#myModal");
                var i = document.createElement("i");
                i.setAttribute("class", "glyphicon glyphicon-plus");

                addofficer.appendChild(i);
                addcontainer.appendChild(addofficer);
//Send the populated array to the controller
                $("#paymentform").submit(function () {
                    TogglePRNControl();
                    var key = this.id.toString().trim();
                    //PopulatePanelInfo(key);
                    $("#paylist").val(JSON.stringify(accountarr));
                });
                document.getElementById("searchcomp").focus();
                $('.search-boxcomp input[type="text"]').on("keyup input", function () {
                    /* Get input value on change */
                    var inputVal = $(this).val();
                    var resultDropdown = $(this).siblings(".resultcomp");
                    var isnum = /[0-9]/;
                    var isalpha = /[a-zA-Z]/;

                    if (inputVal.length) {
                        if (isalpha.test(inputVal))
                        {
                            $.get("Views/Shared/Controls/CompanySearch/backend-search.php?type=" + "name", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        } else
                        if (isnum.test(inputVal))
                        {
                            $.get("Views/Shared/Controls/CompanySearch/backend-search.php?type=" + "companyid", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        }

                    } else {
                        resultDropdown.empty();
                    }
                });

                // Set search input value on click of result item
                $(document).on("click", ".resultcomp p", function () {
                    $(this).parents(".search-boxcomp").find('input[type="text"]').val($(this).text());
                    $test = document.getElementById('searchcomp').value;
                    $type = 'DEP';
                    if ($test == "") {
                                document.getElementById("txtHintcomp").innerHTML = "";
                                return;
                        } else {
                                if (window.XMLHttpRequest) {
                                        // code for IE7+, Firefox, Chrome, Opera, Safari
                                        xmlhttp = new XMLHttpRequest();
                                } else {
                                        // code for IE6, IE5
                                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                }
                                xmlhttp.onreadystatechange = function () {
                                        if (this.readyState == 4 && this.status == 200) {
                                                document.getElementById("txtHintcomp").innerHTML = this.responseText;
                                $("#submittercompany").text($("#CompId").val());
                                $("#submitterprevbalance").text($("#PreviousBalance").val());
                                $("#submitterbalance").text($("#CompanyBalance").val());
                                //$("#submitterbalance").$("#CompanyBalance").val();
                                //var Balance = $("#submitterbalance").$("#CompanyBalance").val().toLocaleString(undefined, { minimumFractionDigits: 2 });
                                // var t=   ("#CompanyBalance").val().toLocaleString(undefined, { minimumFractionDigits: 2 });
                                // $("#submitterbalance").text(Balance);
                                        }
                                };
                                xmlhttp.open("GET", "Views/Shared/Controls/CompanySearch/getuser.php?q=" + $test + "&t=" + $type, true);
                                xmlhttp.send();
                        }
                    $(this).parent(".result").empty();
                    //alert('test');
                });

                $(document).on("click", "#AddAccount", function () {

                    var acctrec = new Array();
                    var pillcontainer = document.getElementById('pillcontainer');
                    var pillwrapper = document.getElementById('pillwrapper');

                    //create instance of list elements
                    var pill = document.createElement("li");

                    var removeicon = document.createElement("span");
                    removeicon.setAttribute("class", "glyphicon glyphicon-minus");
                    pill.setAttribute("id", $("#AccountId").val());

                    //dynamically create functions
                    var pillanchor = document.createElement("a");
                    //pillanchor.innerHTML = document.getElementById("DepositAmount").value;
                    pillanchor.setAttribute("id", "preaccount" + accountcount++);
                    pillanchor.setAttribute("data-depositamount", document.getElementById("DepositAmount").value);
                    pillanchor.appendChild(document.createTextNode(document.getElementById("RoleName").value + "  $" + document.getElementById("DepositAmount").value));

                    pillanchor.appendChild(removeicon);

                    var depositvalue = document.getElementById("DepositAmount").value;
                    acctrec.push(document.getElementById("RoleName").value);
                    acctrec.push(document.getElementById("DepositAmount").value);

                    accountarr.push(acctrec);

                    pill.appendChild(pillanchor);
                    pillwrapper.appendChild(pill);
                    pillcontainer.appendChild(pillwrapper);

                    $(".pillwrapper li").on("click", function () {
                        //var index = this.id.toString().substring(this.id.toString().length - 1, this.id.toString().length);
                        //var key = this.id.toString().trim();
                        //PopulatePanelInfo(key);
                    });

                    // $(".pillwrapper li").on("dblclick", function (event) 


                    CalculateTotal(Number(depositvalue));

                });
                $(document).on("dblclick", ".pillwrapper li", function (event) {
                    //var index = this.id.toString().substring(this.id.toString().length - 1, this.id.toString().length);
                    var key = this.id.toString().trim();
                    var attribute = event.target.attributes.getNamedItem('data-depositamount').value;
                    var elem = document.getElementById(this.id.toString());
                    elem.parentNode.removeChild(elem);
                    RemoveInfo(key);
                    CalculateTotal(Number(attribute) * -1);
                });
            }

            );
            function CalculateTotal(value)
            {
                var subtotal = value;
                Total = subtotal + Total;
                $("#receipttotal").text(Total.toFixed(2));
            }

            /*function PopulatePanelInfo(key)
             {
             var RoleName = document.getElementById("RoleName");
             var DepositAmount = document.getElementById("DepositAmount");
             for (i = 0; i < accountarr.length; i++) {
             
             if (accountarr[i][1] === key)
             {
             RoleName.value = accountarr[i][0].toString();
             DepositAmount.value = accountarr[i][1].toString();
             }
             }
             
             // ToggleControl();
             
             }*/

            function RemoveInfo(key) {
                var indextoremove;
                for (i = 0; i < accountarr.length; i++) {

                    if (accountarr[i][1] === key)
                    {
                        indextoremove = i;
                    }
                }
                accountarr.splice(indextoremove, 1);
            }

            function UpdateInfo(key) {

                for (i = 0; i < accountarr.length; i++) {

                    if (accountarr[i][1] === key)
                    {
                        var RoleName = document.getElementById("RoleName");
                        var DepositAmount = document.getElementById("DepositAmount");
                        accountarr[i][0] = RoleName.value;
                        accountarr[i][1] = DepositAmount.value;

                        // ToggleControl();
                    }
                }
            }
        </script>
        <script>
            function ShowSummary() {
                document.getElementById("mySidenav").style.width = "350px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </head>
    <body>
        <div class="wrapper">
            <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <a class="page-logo" id="index" href="/index.php">
                                <img src="../assets/global/img/customs logo no back.png" alt="" height="400"/>                          
                                <img src="../assets/global/img/OVERTIME-APP-LOGO.png" alt=""/>
                            </a>
                            <div class="topbar-actions">
                                <div class="btn-group-img btn-group">
                                    <button class="btn btn-sm md-skip dropdown-toggle" type="button" data-toggle="dropdown" data-close-others="true" data-hover="dropdown">
                                        <span>Hi,<?php echo $_SESSION['firstname']; ?></span>
                                    </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                        <li>
                                            <a href="changepassword">
                                                <i class="icon-user"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="logout">
                                                <i class="icon-key"></i> Log Out 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="icon-briefcase"></i> <?php echo $_SESSION['user_roles']; ?>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                        
                        </div>                       
                        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse"  >
                            <ul class="nav navbar-nav" >
                                <li class="dropdown dropdown-fw dropdown-fw-disabled active open selected">
                                    <a class="text-uppercase" href="./index.php">
                                        <i class="icon-home"></i> Home 
                                    </a>      
                                </li>
                                <li>
                                    <a class="text-uppercase" onclick="ShowSummary()"><i class="glyphicon glyphicon-eye-open" style="font-size: 20px"></i> Deposit Summary</a>
                                </li>
                            </ul>
                        </div>                      
                    </div>                
                </nav>
            </header>
            <div class="container-fluid">
                <div class="page-content">
                    <div class="page-content-row">
                        <div class="col-md-3">
                            <div class="page-sidebar">

                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 green">
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-value="2" id="submittercompany" style="font-size: xx-large"  data-counter="counterup"></span>
                                            </div>
                                            <div class="desc"> Company ID </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 purple" >
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span class="glyphicon glyphicon-usd"></span><span  id="receipttotal" style="font-size: xx-large" ></span>
                                            </div>
                                            <div class="desc"> Receipt Total </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 blue">
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span class="glyphicon glyphicon-usd"></span><span data-value="2" id="submitterbalance" style="font-size: xx-large"  data-counter="counterup"></span>
                                            </div>
                                            <div class="desc"> Company Balance </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <a class="btn btn-outline blue" href="../../index.php">back to main page</a>    
                                </center>
                            </div> 
                        </div>
                        <div class="col-md-9">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><em class="fa fa-group"></em><h4>Company Deposit</h4></div>
                                    <div class="tools">
                                        <a title="" class="collapse" href="javascript:;" data-original-title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <form  method="post">
                                        <div class="container-fluid">
                                            <div class="row center-block">  
                                                <div class="col-md-4">
                                                    <?php
                                                    include 'Views/Shared/Controls/CompanySearch/search-form.php';
                                                    ?>     
                                                </div>
                                                <div class="col-md-4">
                                                    <center id="addcontrols">                                                                                                                           

                                                    </center>
                                                    <div class="pillwrapper" id="pillcontainer">
                                                        <ul class="nav nav-pills nav-stacked" id="pillwrapper" >                                   
                                                        </ul>   
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row center-block">                                               
                                                        <br>
                                                        <div id='container' >   
                                                            <span class="glyphicon glyphicon-"></span> <label><strong>Pro Forma #</strong></label>
                                                            <input type="text" class="form-control" id="ProformaNumber" name="ProformaNumber" autocomplete="off" required value="{ ProformaNumber }" placeholder="********">
                                                            <span class="glyphicon glyphicon-"></span> <label><strong>Invoice #</strong></label>
                                                            <input type="text" class="form-control" id="InvoiceNumber" name="InvoiceNumber" autocomplete="off" required value="{ InvoiceNumber }" placeholder="R********">
                                                            <span class="glyphicon glyphicon-"></span> <label><strong>Receipt #</strong></label>
                                                            <input type="text" class="form-control" id="ASYCUDANum" name="ASYCUDANum" autocomplete="off" required value="{ ASYCUDANum }" placeholder="R********">
                                                            <span class="glyphicon glyphicon-comment"></span><label><strong>Comments</strong></label>
                                                            <textarea  class="form-control" id="Comments" name="Comments" rows="4" cols="50"></textarea>
                                                        </div> 
                                                    </div>    
                                                </div>
                                            </div>
                                            <center id="submitcontrol">   

                                            </center>
                                        </div>

                                    </form>
                                </div>

                                <!-- The Modal -->
                                <div class="modal" id="myModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Select Pre Account</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <div class="col-md-6">
                                                    <label><strong>Pre Deposit Account</strong></label>
                                                    <select name="RoleName" class="form-control" id="RoleName" >
                                                        <option></option>
                                                        { accounts }
                                                    </select>
                                                    <span class="glyphicon glyphicon-usd"></span><label><strong>Deposit Amount</strong></label>
                                                    <input type="text"  class="form-control" id="DepositAmount" name="DepositAmount" autocomplete="off" required value="{ Deposit }" placeholder="0.00">  

                                                    { val_Deposit } <br>
                                                    { val_AsycudaNum }<br>
                                                    { val_CompId }
                                                </div>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                                                <button type="button" class="btn btn-info" id="AddAccount" data-enter="modal">Add Account</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                   
            </div>

        </div> 
        { foot }
    </body>
</html>
