<meta charset="UTF-8">
<title>Data Processing Department | Customs Overtime Application</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css">
<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>        
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--<link href="../../assets/global/plugins/bootstrap-switch_old/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css">-->
<link href="../../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css">
<link href="../../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css">
<link id="style_components" href="../../assets/global/css/components.min.css" rel="stylesheet" type="text/css">
<link href="../../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css">
<link href="../../assets/layouts/layout5/css/layout.min.css" rel="stylesheet" type="text/css">
<link href="../../assets/layouts/layout5/css/custom.min.css" rel="stylesheet" type="text/css">
<link href="admin_5/favicon.ico" rel="shortcut icon">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
