<!DOCTYPE html>
<html>
    <head>
        { head }
        <script type="text/javascript">
            function  GenPRN()
            {
                //alert('test');
                xmlhttp = new XMLHttpRequest();
                $prncnt = document.getElementById('PRNCount').value;
                if ($prncnt > 0)
                {
                    xmlhttp.onreadystatechange = function () {
                                    if (this.readyState == 4 && this.status == 200) {
                                           document.getElementById("prntable").innerHTML = this.responseText;
                                    }
                            };
                    xmlhttp.open("GET", "../Views/Shared/Controls/getprn.php?q=" + $prncnt, true);
                    xmlhttp.send();
                }
            }
            $(document).ready(function () {

                $('.search-boxcomp input[type="text"]').on("keyup input", function () {
                    /* Get input value on change */
                    var inputVal = $(this).val();
                    var resultDropdown = $(this).siblings(".resultcomp");
                    var isnum = /[0-9]/;
                    var isalpha = /[a-zA-Z]/;

                    if (inputVal.length) {
                        if (isalpha.test(inputVal))
                        {
                            $.get("Views/Shared/Controls/CompanySearch/backend-search.php?type=" + "name", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        } else
                        if (isnum.test(inputVal))
                        {
                            $.get("Views/Shared/Controls/CompanySearch/backend-search.php?type=" + "companyid", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        }

                    } else {
                        resultDropdown.empty();
                    }
                });

                // Set search input value on click of result item
                $(document).on("click", ".resultcomp p", function () {
                    $(this).parents(".search-boxcomp").find('input[type="text"]').val($(this).text());
                    $srchcmp = document.getElementById('searchcomp').value;
                    if ($srchcmp == "") {
                                document.getElementById("txtHintcomp").innerHTML = "";
                                return;
                        } else {
                                if (window.XMLHttpRequest) {
                                        // code for IE7+, Firefox, Chrome, Opera, Safari
                                        xmlhttp = new XMLHttpRequest();
                                } else {
                                        // code for IE6, IE5
                                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                }
                                xmlhttp.onreadystatechange = function () {
                                        if (this.readyState == 4 && this.status == 200) {
                                                document.getElementById("txtHintcomp").innerHTML = this.responseText;
                                $("#submittercompany").text($("#CompId").val());
                                $("#submitterbalance").text($("#CompanyBalance").val());
                                $("#submitterprevbalance").text($("#PreviousBalance").val());
                                        }
                                };
                                xmlhttp.open("GET", "Views/Shared/Controls/CompanySearch/getsummary.php?q=" + $srchcmp, true);
                                xmlhttp.send();

                        }
                    $(this).parent(".result").empty();
                    //var test= $("#CompId").val();
                    //alert(test);
                });

                $('.search-boxemp input[type="text"]').on("keyup input", function () {
                    /* Get input value on change */
                    var inputVal = $(this).val();
                    var resultDropdown = $(this).siblings(".resultemp");
                    var isnum = /[0-9]/;
                    var isalpha = /[a-zA-Z]/;

                    if (inputVal.length)
                    {
                        if (isalpha.test(inputVal))
                        {
                            // alert('isalpha');
                            $.get("../Views/Shared/Controls/EmployeeSearch/backend-search.php?type=" + "name", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        } else
                        if (isnum.test(inputVal))
                        {
                            //alert('isnumeric');
                            $.get("../Views/Shared/Controls/EmployeeSearch/backend-search.php?type=" + "natregno", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        }

                    } else {
                        resultDropdown.empty();
                    }
                });

                // Set search input value on click of result item
                $(document).on("click", ".resultemp p", function () {
                    $(this).parents(".search-boxemp").find('input[type="text"]').val($(this).text());
                    $srchemp = document.getElementById('searchemp').value;
                    if ($srchemp == "") {
                                document.getElementById("txtHintemp").innerHTML = "";
                                return;
                        } else {
                                if (window.XMLHttpRequest) {
                                        // code for IE7+, Firefox, Chrome, Opera, Safari
                                        xmlhttp = new XMLHttpRequest();
                                } else {
                                        // code for IE6, IE5
                                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                }
                                xmlhttp.onreadystatechange = function () {
                                        if (this.readyState == 4 && this.status == 200) {
                                                document.getElementById("txtHintemp").innerHTML = this.responseText;
                                        }
                                };
                                xmlhttp.open("GET", "../Views/Shared/Controls/EmployeeSearch/getuser.php?q=" + $srchemp, true);
                                xmlhttp.send();
                        }
                    $(this).parent(".result").empty();
                    //alert('test');
                });
            });
        </script>
    </head>
    <body>
        <div class="wrapper">
            <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <a class="page-logo" id="index" href="/index.php">
                                <img src="../assets/global/img/customs logo no back.png" alt="" height="400"/>                          
                                <img src="../assets/global/img/OVERTIME-APP-LOGO.png" alt=""/>
                            </a>
                            <div class="topbar-actions">
                                <div class="btn-group-img btn-group">
                                    <button class="btn btn-sm md-skip dropdown-toggle" type="button" data-toggle="dropdown" data-close-others="true" data-hover="dropdown">
                                        <span>Hi,<?php echo $_SESSION['firstname']; ?></span>
                                    </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                        <li>
                                            <a href="changepassword">
                                                <i class="icon-user"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="logout">
                                                <i class="icon-key"></i> Log Out 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="icon-briefcase"></i> <?php echo $_SESSION['user_roles']; ?>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                        
                        </div>                       
                        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse"  >
                            <ul class="nav navbar-nav" >
                                <li class="dropdown dropdown-fw dropdown-fw-disabled active open selected">
                                    <a class="text-uppercase" href="./index.php">
                                        <i class="icon-home"></i> Home 
                                    </a>      
                                </li>                                
                                <li>
                                    <a class="text-uppercase" href="/createpayment">Make Payment</a>
                                </li>
                                <li>
                                    <a class="text-uppercase" href="/editpayment">Edit/Amend Payment</a>
                                </li>
                                <li>
                                    <a class="text-uppercase" href="/editprn">Reassign PRN</a>
                                </li>
                            </ul>
                        </div>                      
                    </div>                
                </nav>
            </header>
            <div class="container-fluid">
                <div class="page-content">
                    <div class="page-content-row">
                        <div class="col-md-3">
                            <div class="page-sidebar">
                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 green" >
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-value="2" id="submittercompany" style="font-size: xx-large"  data-counter="counterup"></span>
                                            </div>
                                            <div class="desc"> Company ID </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 blue" >
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span class="glyphicon glyphicon-usd"></span><span data-value="2" id="submitterbalance" style="font-size: xx-large"  data-counter="counterup"></span>
                                            </div>
                                            <div class="desc"> Company Balance </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <a class="btn btn-outline blue" href="../../index.php">back to main page</a>    
                                </center>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="page-content-col-8">
                                <div class="portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption"><em class="fa fa-group"></em>Generate and Disburse PRN(s)</div>
                                        <div class="tools">
                                            <a title="" class="collapse" href="javascript:;" data-original-title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form  method="post"> 
                                            <div class="row center-block">                                               
                                                <div class="col-md-12">
                                                    <?php
                                                    include 'Views/Shared/Controls/CompanySearch/search-form.php';
                                                    ?>                         
                                                </div>                                                
                                            </div>
                                            <div class="row center-block">
                                                <div class="col-md-6" style="margin-left: 15px"  > 
                                                    <br>
                                                    <span class="glyphicon glyphicon-barcode"></span> PRN 
                                                    <input type="text"   class="form-control" id="PRNCount" name="PRNCount" autocomplete="off" placeholder="Enter number PRN(s)">
                                                </div>
                                                <div class="col-md-3">
                                                    <br><br>
                                                    Preview<a class="btn btn-outline blue"  href='#' id='genprn' onclick='GenPRN()'><span class="glyphicon glyphicon-random"></span> </a> 
                                                </div>
                                                <div class="col-md-6">
                                                    <br><br>
                                                    <p id="prntable" style="margin-left: 15px">
                                                    </p>  
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row center-block">
                                                    <div class="col-xs-12">
                                                        <?php
                                                        include 'Views/Shared/Controls/EmployeeSearch/search-form.php';
                                                        ?>                         
                                                    </div>
                                                </div>  
                                            </div>
                                            <center>       
                                                <button type="submit" name="btn-create" class="btn btn-default blue">Allocate PRN(s) to Officer</button>    
                                            </center>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        { foot }
    </body>
</html>
