<!DOCTYPE html>
<html>
    <head>
        { head }
        <style>
            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 50px;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                overflow-y: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenav a {
                padding: 8px 8px 8px 20px;
                text-decoration: none;
                font-size: 18px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }
            .sidenav tr:hover {
                color: #f1f1f1;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 50px;
                right: 25px;
                font-size: 25px;
                margin-left: 50px;
            }

            #main {
                transition: margin-left .5s;
                padding: 16px;
            }

            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }
        </style>

        <script type="text/javascript">
            $(document).ready(function () {


                $('.search-boxcomp input[type="text"]').on("keyup input", function () {
                    /* Get input value on change */
                    var inputVal = $(this).val();
                    var resultDropdown = $(this).siblings(".resultcomp");
                    var isnum = /[0-9]/;
                    var isalpha = /[a-zA-Z]/;

                    if (inputVal.length) {
                        if (isalpha.test(inputVal))
                        {
                            $.get("/Views/Shared/Controls/CompanySearch/backend-search.php?type=" + "name", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        } else
                        if (isnum.test(inputVal))
                        {
                            $.get("/Views/Shared/Controls/CompanySearch/backend-search.php?type=" + "companyid", {term: inputVal}).done(function (data) {
                                // Display the returned data in browser
                                resultDropdown.html(data);
                            });
                        }

                    } else {
                        resultDropdown.empty();
                    }
                });

                // Set search input value on click of result item
                $(document).on("click", ".resultcomp p", function () {
                    $(this).parents(".search-boxcomp").find('input[type="text"]').val($(this).text());
                    $test = document.getElementById('searchcomp').value;
                    $type = 'REF';


                    if ($test == "") {
                                document.getElementById("txtHintcomp").innerHTML = "";
                                return;
                        } else {
                                if (window.XMLHttpRequest) {
                                        // code for IE7+, Firefox, Chrome, Opera, Safari
                                        xmlhttp = new XMLHttpRequest();
                                } else {
                                        // code for IE6, IE5
                                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                }
                                xmlhttp.onreadystatechange = function () {
                                        if (this.readyState == 4 && this.status == 200) {
                                                document.getElementById("txtHintcomp").innerHTML = this.responseText;
                                $("#submittercompany").text($("#CompId").val());
                                //$("#submitterprevbalance").text($("#PreviousBalance").val());
                                $("#submitterbalance").text($("#CompanyBalance").val());
                                        }
                                };
                                xmlhttp.open("GET", "/Views/Shared/Controls/CompanySearch/getuser.php?q=" + $test + "&t=" + $type, true);
                                xmlhttp.send();
                        }
                    $(this).parent(".result").empty();
                    //alert('test');
                });

                $("#OperationalSupport, #PoliceServices").blur(function () {
//need to add validation that it is a number

                    var oppSupportVal = document.getElementById("OperationalSupport").value;
                    var PoliceServices = document.getElementById("PoliceServices").value;

                    var vatVal = document.getElementById("VATDBval").value;
                    var vatCalc = (parseFloat(PoliceServices) * parseFloat(vatVal)).toFixed(2);
                    $("#VATPoliceServices").val(vatCalc);
                    var VATPoliceServices = document.getElementById("VATPoliceServices").value;
                    //document.getElementById("VATPoliceServices").value = vatCalc;

                    $("#receipttotal").text((parseFloat(PoliceServices) + parseFloat(VATPoliceServices) + parseFloat(oppSupportVal)).toFixed(2));
                });

                $("#EventCost").blur(function () {
//need to add validation that it is a number
                    var CostOfEvent = document.getElementById("EventCost").value;


                    $("#eventcost").text(parseFloat(CostOfEvent).toFixed(2));
                });

                $("#btnCreateEvent").click(function (e) {
//need to add validation that all fields are there 
                    var oppSupportVal = document.getElementById("OperationalSupport").value;
                    var PoliceServices = document.getElementById("PoliceServices").value;
                    var EventDate = document.getElementById("datepicker").value;

                    try {
                        var oppSupportVal = document.getElementById("CompName").value;
                    } catch (err) {
                        e.preventDefault();
                        alert(err.message);
                    }



                });

            });


        </script>
        <script>
            function ShowSummary() {
                document.getElementById("mySidenav").style.width = "350px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </head>
    <body>
        <div class="wrapper">
            <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <a class="page-logo" id="index" href="/index.php">
                                <img src="../assets/global/img/customs logo no back.png" alt="" height="400"/>                          
                                <img src="../assets/global/img/OVERTIME-APP-LOGO.png" alt=""/>
                            </a>
                            <div class="topbar-actions">
                                <div class="btn-group-img btn-group">
                                    <button class="btn btn-sm md-skip dropdown-toggle" type="button" data-toggle="dropdown" data-close-others="true" data-hover="dropdown">
                                        <span>Hi,<?php echo $_SESSION['firstname']; ?></span>
                                    </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                        <li>
                                            <a href="changepassword">
                                                <i class="icon-user"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="logout">
                                                <i class="icon-key"></i> Log Out 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="icon-briefcase"></i> <?php echo $_SESSION['user_roles']; ?>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                        
                        </div>                       
                        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse"  >
                            <ul class="nav navbar-nav" >
                                <li class="dropdown dropdown-fw dropdown-fw-disabled active open selected">
                                    <a class="text-uppercase" href="/index.php">
                                        <i class="icon-home"></i> Home 
                                    </a>      
                                </li>
                                <li>
                                    <a class="text-uppercase" href="/event/edit"><i class="glyphicon glyphicon-eye-open"></i>View &nbsp; <i class="glyphicon glyphicon-pencil"></i>Edit Event</a>
                                </li>
                            </ul>
                        </div>                      
                    </div>                
                </nav>
            </header>
            <div class="container-fluid">
                <div class="page-content">
                    <div class="page-content-row">
                        <div class="col-md-3">
                            <div class="page-sidebar">

                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 green">
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-value="2" id="submittercompany" style="font-size: xx-large"  data-counter="counterup"></span>
                                            </div>
                                            <div class="desc"> Company ID </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 purple" >
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span class="glyphicon glyphicon-usd"></span><span  id="receipttotal" style="font-size: xx-large" ></span>
                                            </div>
                                            <div class="desc"> Pre Account Total </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 red" >
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span class="glyphicon glyphicon-usd"></span><span  id="eventcost" style="font-size: xx-large" ></span>
                                            </div>
                                            <div class="desc"> Event Cost </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="dashboard-stat dashboard-stat-v2 blue">
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span class="glyphicon glyphicon-usd"></span><span data-value="2" id="submitterbalance" style="font-size: xx-large"  data-counter="counterup"></span>
                                            </div>
                                            <div class="desc"> Company Balance </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <a class="btn btn-outline blue" href="../../index.php">back to main page</a>    
                                </center>
                            </div> 
                        </div>
                        <div class="col-md-9">
                            <div class="page-content-col-8">
                                <div class="panel panel-info" >
                                    <div class="panel-heading">
                                        <center>
                                            <h3><label id="lblEventRef" class="label label-info">{ EventId }</label>&nbsp;&nbsp; &nbsp;<label id="lblEventFormNum" style="display:none" class="label label-info" ></label></h3>
                                        </center>
                                    </div>
                                </div>
                                <div class="portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption"><em class="fa fa-group"></em><h4>Create Event</h4></div>
                                        <div class="tools">
                                            <a title="" class="collapse" href="javascript:;" data-original-title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form  method="post"  action="" id="paymentform" > 
                                            <div class="container-fluid">
                                                <div class="row center-block">
                                                    <div class="col-md-2" ></div>
                                                    <div class="col-md-8" >
                                                        <?php
                                                        include 'Views/Shared/Controls/CompanySearch/search-form.php';
                                                        ?>                                                            
                                                    </div>
                                                    <div class="col-md-2" >
                                                        <br>
                                                        <a href="/company/create" id="" class="btn btn-default blue">Create Company</a>
                                                    </div>
                                                </div>
                                                <div class="row center-block">
                                                    <div class="col-md-4" >                                                 
                                                        <div class="row">
                                                            <div class="col-xs-4" style="font-size: large">
                                                                <a id="addofficer" class="btn btn-default green" data-toggle="modal" data-target="#myModal">Police Service Resource  <i class="glyphicon glyphicon-plus"></i>
                                                                </a>
                                                            </div>  
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-xs-4" style="font-size: large">
                                                                <a id="addofficer" class="btn btn-default green" data-toggle="modal" data-target="#myModal2">Operational Support Resource  <i class="glyphicon glyphicon-plus"></i>
                                                                </a>
                                                            </div>  
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" >
                                                        <br>
                                                        <strong>Show Pills here</strong>
                                                        <div class="pillwrapper" id="pillcontainer">
                                                            <ul class="nav nav-pills nav-stacked" id="pillwrapper" >                                   
                                                            </ul>   
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" >
                                                        <br>
                                                        <label>Select Division</label>
                                                        <select class="form-control">
                                                            { Divisions }
                                                        </select>
                                                        <label>Event Name</label>
                                                        <input type="text"  class="form-control" id="EventName" name="EventName" autocomplete="off" required value="{ EventName }" placeholder="Enter company event">  

                                                        <label>Event Start Date</label>
                                                        <input type="text" class="form-control" name="EventDateStart" placeholder="YYYY-MM-DD" autocomplete="off"  id="datepicker" required >
                                                        <label>Event End Date</label>
                                                        <input type="text" class="form-control" name="EventDateEnd" placeholder="YYYY-MM-DD" autocomplete="off"  id="datepicker2" required >
                                                        <script>
                                                            $(function () {
                                                                $("#datepicker").datepicker({dateFormat: 'yy-mm-dd'});
                                                                $("#datepicker2").datepicker({dateFormat: 'yy-mm-dd'});
                                                            });
                                                        </script>
                                                        <div><input id="paylist" name="paylist" class="form-control" type="hidden" ></div>

                                                        <input type="hidden"  class="form-control" id="EventCost" name="EventCost"  required value="{ EventCost }" >  

                                                    </div> 
                                                </div>
                                                <div>

                                                    <center>
                                                        <br>
                                                        <i class="glyphicon glyphicon-comment"></i><label> Comments</label>
                                                    </center>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <textarea  class="form-control" id="Comments" name="Comments" rows="4" cols="12"></textarea>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>
                                                <div class="col-md-3" >

                                                    <input type="hidden" class="form-control" id="EventId" name="EventId" value="{ EventId }" >
                                                    <input type="hidden" class="form-control" id="VATDBval" name="VATDBval" value="{ VATDBval }" >

                                                </div>
                                            </div>  
                                            <br>
                                            <center>
                                                <button type="submit" name="btn-create" class="btn btn-default blue" id="btnCreateEvent">Create Event</button>    
                                            </center>
                                            <br>
                                        </form> 
                                        <div class="modal" id="myModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Select Police Service Resource</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">                                                                                                                <label><strong>Select Officer Rank</strong></label>
                                                        <select name="RankName" class="form-control" id="BankName" style="width:auto" >
                                                            <option>Select Rank</option>
                                                            { RoleRates }
                                                        </select>
                                                        <label><strong>Resource Count</strong></label>
                                                        <input type="number"  class="form-control" id="ResourceCount" name="ResourceCount" min="1"  required  >     

                                                    </div>
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <label id="ResourceAmount" >0</label>
                                                        <button type="button" class="btn btn-info" id="AddAccount" data-enter="modal">Add Resources</button>
                                                    </div>                                            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal" id="myModal2">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Select Operational Support Resource</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">

                                                        <label><strong>Select Equipment</strong></label>
                                                        <select name="Equipment" class="form-control" id="Equipment" style="width:auto" >
                                                            <option>Select Equipment</option>
                                                            { Equipment }
                                                        </select>
                                                        <label><strong>Resource Count</strong></label>
                                                        <input type="number"  class="form-control" id="OPResourceCount" name="OPResourceCount" min="1"  required  > 

                                                    </div>
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                                                        <button type="button" class="btn btn-info" id="AddAccount" data-enter="modal">Add Resources</button>
                                                    </div>                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>            
        </div>
        { foot }
    </body>
</html>
<!--  <br>
                                                                                                             <i class="glyphicon glyphicon-usd"></i><label> Police Services</label>
                                                                                                             <input type="text"  class="form-control" id="PoliceServices" name="PoliceServices" autocomplete="off"  value="{ PoliceServices }" placeholder="0.00">  
                                                     
                                                                                                             <i class="glyphicon glyphicon-usd"></i><label> VAT</label>
                                                                                                             <input type="text"  class="form-control" id="VATPoliceServices" name="VATPoliceServices" autocomplete="off"  value="{ VATPoliceServices }" placeholder="0.00" readonly>  
                                                     
                                                                                                             <i class="glyphicon glyphicon-usd"></i><label> Operational Support</label>
                                                                                                             <input type="text"  class="form-control" id="OperationalSupport" name="OperationalSupport" autocomplete="off"  value="{ OperationalSupport }" placeholder="0.00">  
-->